:root {
	--font: 'Open Sans', sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #df6442;
	--white-color: #ffffff;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--separator-color: #D4D6E0;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}