.search {
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #475069;
}

.search:focus {
    outline: none;
    border: none;
}