.header {
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    line-height: 125%;
    letter-spacing: -0.02em;
    color: #ebeef5;
}

.fs64 {
    font-size: 64px;
}

.fs32 {
    font-size: 32px;
}