.p-text {
    white-space: pre-line;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #8e95a9;
    margin: 24px 0;
}

.fs16 {
    font-size: 16px;
    line-height: 150%;
}

.fs20 {
    font-size: 20px;
    line-height: 160%;
}